/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* 标题栏样式 */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .title {
    font-size: 1.2em;
    text-align: center;
    flex-grow: 1;
}

/* 菜单栏样式 */
nav {
    background-color: #444;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
    padding: 10px;
}

nav ul li.selected {
    background-color: orange;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

/* 内容部分样式 */
.content {
    padding: 40px;
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content p {
    font-size: 1.1em;
    line-height: 1.6;
}

.content ol li {
    font-size: 1.1em;
    line-height: 1.6;
}

/* 论文样式 */
.paper {
    padding: 20px;
    background-color: white;
    max-width: 900px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.paper ol li {
    font-size: 1em;
    line-height: 1.25;
}